<% include partials/header %>
<h1>This is the show template</h1>
<p><%= campground.name%></p>
<img src="<%= campground.image %>" alt="" />
<p><%= campground.description%></p>

<% campground.comment.forEach(function(val){ %>
<p><strong><%= val.author %></strong> - <%= val.text %></p>
<% }) %> <% include partials/footer %>
